<%= form_for(system) do |f| %>
  <% if system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :standard_code %>
    <%= f.text_field :standard_code %>
  </div>

  <div class="field">
    <%= f.label :internal_code %>
    <%= f.text_field :internal_code %>
  </div>

  <div class="field">
    <%= f.label :particular_name %>
    <%= f.text_field :particular_name %>
  </div>

  <div class="field">
    <%= f.label :x %>
    <%= f.number_field :x %>
  </div>

  <div class="field">
    <%= f.label :y %>
    <%= f.number_field :y %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
